<link rel="stylesheet" type="text/css" href="res/css/register_user/base.css"/>

<script>
  $(window).ready(function(){  
  var unsorted_url = window.location.pathname.split('id=');
  unsorted_url = unsorted_url[1].split('/access_token=');
  var access_token = unsorted_url[1]
  access_token = 'access_token=' + access_token
  var machine_id = unsorted_url[0]
  $.ajax({ url: '/api/gym_users?' + access_token ,
          context: document.body,
          success: function(response){
             
             document.getElementById("page_view").style.display = "block";
             console.log("SUCCESS " + response)
             
          },
          
          error: function (response) {
            // document.getElementById("error").style.display = "block";
            // $('#error').delay(4000).fadeOut(300);
            // var resp = response.responseText
            // console.log(resp)
            // console.log(response)
            alert("You are not authenticated to view this page")
            setTimeout(function() { window.location.replace('/machine/login'); }, 0000)
          },
          cache: false,
        });
  });
</script>

<div ng-controller="add_gym_user_controller">
<div id="">
<div ng-include src="'Views/machine/header_with_machine_id.html'" style="padding-top: 20px; padding-left: 20px;"></div>

<div id="page_view" style="display: none;">
<div class="container " id="main_form" style="margin-top: 3%;" > 

<!-- <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe> -->
  <div id="contact" style="margin-top: 0%; margin-bottom: 10%">
    <h3>Gym User Registration</h3>
    <h4>Fill the User form below</h4>

    <script>
        $("#back_to_admin_landing_page").click(function back_to_admin_landing_page(){
          
        });
    </script>
    <a href="" id="back_to_admin_landing_page"><button name="submit" type="submit" id="contact-submit" style="background-color: #4c96af; margin-bottom: 3%">Back</button></a>
    <form id = "myForm" action="/api/gym_users" method="post" target="dummyframe">
    <fieldset>
      <input placeholder="Registration Number" type="number" tabindex="1" required autofocus name="registration_number" style="width: 100%; padding-left: 10px;">
    </fieldset>
    <fieldset>
      <input placeholder="Re Enter Registration Number" type="number" tabindex="2" required name="username" style="width: 100%; padding-left: 10px; ">
    </fieldset>
    <fieldset>
      <input placeholder="Name" type="text" tabindex="3" required name="name">
    </fieldset>
    <fieldset>
      <input placeholder="Address" type="text" tabindex="4" required name="address">
    </fieldset>
    <fieldset>
      <input placeholder="Email" type="email" tabindex="5" required name="email">
    </fieldset>
    <fieldset>
      <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1" style="border: 1px solid #ccc; background: #f0f0f0; margin-left:15px; padding: 0.9%;">+91</div>
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px;margin: 1%;margin-right: -15px;margin-left: 10px;">-</div>
      <div class="col-md-9 col-sm-9 col-xs-9" style="padding: 0px;width: 76%">
      <input  placeholder="Phone Number" type="tel" pattern="[789][0-9]{9}" tabindex="6" required name="phone_number" style="width: 100%;">
      </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1" style="border: 1px solid #ccc; background: #f0f0f0; margin-left:15px; padding: 0.9%;">+91</div>
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px;margin: 1%;margin-right: -15px;margin-left: 10px;">-</div>
      <div class="col-md-9 col-sm-9 col-xs-9" style="padding: 0px;width: 76%">
      <input  placeholder="Re Enter Phone Number" type="tel" pattern="[789][0-9]{9}" tabindex="7" required name="password" style="width: 100%;">
      </div>
      </div>
    </fieldset>
    <fieldset>
      <input tabindex="8" required name="cart_value" type = "number">
    </fieldset>
    
    <!-- <fieldset>
      <input tabindex="8" name="machine_id" value = {{users_json_data.id}} type = "text" style="display: none;">
    </fieldset> -->
    
      <button name="submit" type="submit" id="contact-submit">Submit</button>
      <script>
        var unsorted_url = window.location.pathname.split('id=');
          unsorted_url = unsorted_url[1].split('/access_token=');
          console.log(unsorted_url)
          var access_token = unsorted_url[1]
          // access_token = 'access_token=' + access_token
          var machine_id = unsorted_url[0]
          console.log("access_token " + access_token)
          alert(access_token)
          alert(machine_id)
          var url = '/api/machines/' + machine_id + '/gymUser?access_token=' + access_token
      $('#myForm')
      .ajaxForm({
        url : url, // or whatever
        dataType : 'html',
        success : function (response) {
            
            alert("CHECK")
            alert("Credentials Submitted Successfully. You'll be redirected to the admin page now !")
            alert("URL")
            var reload_url = '/machine/view_gym_users/machine_id=' + machine_id + '/access_token=' + access_token
            alert(reload_url)
            
            window.location.href = reload_url
            // location.delay(2000).reload();
             // setTimeout(function() { window.location.reload(true); }, 1000)
        },
        error: function (response) {
            // alert(response.responseText)
            alert("User Already Exists / Enter the Correct Details !")
            window.location.reload();
        },
        cache: false,
    });
      </script>
    
</div>


</div>
</div>