<link rel="stylesheet" type="text/css" href="res/css/register_user/base.css"/>

<script>
  $(window).ready(function(){  
  var unsorted_url = window.location.pathname.split('id=');
  unsorted_url = unsorted_url[1].split('/access_token=');
  var access_token = unsorted_url[1]
  access_token = 'access_token=' + access_token
  var machine_id = unsorted_url[0]
  $.ajax({ url: '/api/gym_users?' + access_token ,
          context: document.body,
          success: function(response){
             
             document.getElementById("page_view").style.display = "block";
             
             
          },
          
          error: function (response) {
            alert("You are not authenticated to view this page")
            setTimeout(function() { window.location.replace('/'); }, 0000)
          },
          cache: false,
        });
  });
</script>

<div ng-controller="add_gym_user_controller">
<div id="">
<div ng-include src="'Views/machine/header_with_machine_id.html'" style="padding-top: 20px; padding-left: 20px;"></div>

<div id="page_view" style="display: none;">
<div class="container " id="main_form" style="margin-top: 3%;" > 

<!-- <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe> -->
  <div id="contact" style="margin-top: 0%; margin-bottom: 10%">
    <h3>Gym User Registration</h3>
    <h4>Fill the User form below</h4>

   
    <form id = "myForm" action="/api/gym_users" method="post" target="dummyframe">
    <fieldset>
      Registration ID : 
      <input placeholder="Registration ID" type="text" tabindex="1" required autofocus name="registration_number" style="width: 100%; padding-left: 10px;">
    </fieldset>
    <fieldset>
      Re- Enter Registration ID (username):
      <input placeholder="Re Enter Registration ID" type="text" tabindex="2" required name="username" style="width: 100%; padding-left: 10px; ">
    </fieldset>
    <fieldset>
      Name :
      <input placeholder="Name" type="text" tabindex="3" required name="name">
    </fieldset>
    <fieldset>
      Address :
      <input placeholder="Address" type="text" tabindex="4" required name="address">
    </fieldset>
    <fieldset>
      Email : 
      <input placeholder="Email" type="email" tabindex="5" required name="email">
    </fieldset>
    <fieldset>
      Phone Number :
      <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1" style="border: 1px solid #ccc; background: #f0f0f0; margin-left:15px; padding: 0.9%;">+91</div>
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px;margin: 1%;margin-right: -15px;margin-left: 10px;">-</div>
      <div class="col-md-9 col-sm-9 col-xs-9" style="padding: 0px;width: 76%">
      <input  placeholder="Phone Number" type="tel" pattern="[789][0-9]{9}" tabindex="6" required name="phone_number" style="width: 100%;">
      </div>
      </div>
    </fieldset>
    <fieldset>
       Re-Enter Phone Number (password) :
      <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1" style="border: 1px solid #ccc; background: #f0f0f0; margin-left:15px; padding: 0.9%;">+91</div>
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px;margin: 1%;margin-right: -15px;margin-left: 10px;">-</div>
      <div class="col-md-9 col-sm-9 col-xs-9" style="padding: 0px;width: 76%">
      <input  placeholder="Re Enter Phone Number (password)" type="tel" pattern="[789][0-9]{9}" tabindex="7" required name="password" style="width: 100%;">
      </div>
      </div>
    </fieldset>
    <fieldset>
      Cart Value :
      <input tabindex="8" required name="cart_value" type = "number" style="width: 100%">
    </fieldset>
    
    <!-- <fieldset>
      <input tabindex="8" name="machine_id" value = {{users_json_data.id}} type = "text" style="display: none;">
    </fieldset> -->
    
      <button name="submit" type="submit" id="contact-submit">Submit</button>
      <script>
        var unsorted_url = window.location.pathname.split('id=');
          unsorted_url = unsorted_url[1].split('/access_token=');
         
          var access_token = unsorted_url[1]
          var machine_id = unsorted_url[0]
         
          
          var url = '/api/machines/' + machine_id + '/gymUser?access_token=' + access_token
      $('#myForm')
      .ajaxForm({
        url : url, // or whatever
        dataType : 'html',
        success : function (response) {
            
            
            alert("Credentials Submitted Successfully. You'll be redirected to the admin page now !")
           
            var reload_url = '/view_gym_users/machine_id=' + machine_id + '/access_token=' + access_token
            
            
            window.location.href = reload_url
            
        },
        error: function (response) {
      
            alert("User Already Exists / Enter the Correct Details !")
            window.location.reload();
        },
        cache: false,
    });
      </script>
    
</div>


</div>
</div>