<div ng-controller="edit_machine_gym_user_detail_controller">


<link rel="stylesheet" type="text/css" href="res/css/register_user/base.css"/>

<div id=" ">
<div ng-include src="'Views/machine/header_with_machine_and_user_id.html'" style="padding-top: 20px; padding-left: 20px;"></div>

<script>
   $(window).ready(function(){  
        
        var unsorted_url = window.location.pathname.split('machine_id=');
        
        var semisorted_url = unsorted_url[1].split('/user=')
        var machine_id = semisorted_url[0]
        
         
        var userId_url = semisorted_url[1].split('/access_token=');
       

        var userId = userId_url[0]
       

        access_token = userId_url[1]

       
        var url = '/api/gym_users/' + userId + '?' + 'access_token=' + access_token
        $.ajax({ 
              
                url: '/api/gym_users?access_token=' + access_token,
                context: document.body,
                success: function(response){
     
                 document.getElementById("page_view").style.display = "block";
                
                 
              },
                error: function (response) {
                  
                  alert("You are not authenticated to view this page")
                  setTimeout(function() { window.location.replace('/'); }, 0000)
                },
                cache: false,
              });
        });
</script>
<div id = "page_view" style="display: none;">
<div class="container" id="main_form"> 

<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  <div id="contact" style="margin-top: 10%; margin-bottom: 10%">
    <h3>Edit User Details</h3>
    <h4>Edit the details of the user if you wish</h4>

   
    <form id = "myForm" action="" method="put" target="dummyframe">
    <fieldset>
      Registration ID :
      <input id="registration_number" type="number" tabindex="1" name="registration_number" required value={{users_json_data.registration_number}}  style="width: 100%; padding-left: 10px;">
    </fieldset>
    <fieldset>
      Name :
      <input placeholder="Name" type="text" tabindex="3" value={{users_json_data.name}} required name="name">
    </fieldset>
    <fieldset>
      Address :
      <input placeholder="Address" type="text" tabindex="4" value={{users_json_data.address}} required name="address">
    </fieldset>
    <fieldset>
      Email :
      <input placeholder="Email" type="email" tabindex="5" value={{users_json_data.email}} required name="email">
    </fieldset>
    <fieldset>
      Cart Value :
      <input placeholder="Cart Value" type="number" tabindex="6" value={{users_json_data.cart_value}} required name="cart_value" style="width:100%; padding-left: 10px">
    </fieldset>
    <fieldset>
      Phone Number :
      <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1" style="border: 1px solid #ccc; background: #f0f0f0; margin-left:15px; padding: 0.9%;">+91</div>
      <div class="col-md-1 col-sm-1 col-xs-1" style="padding:0px;margin: 1%;margin-right: -15px;margin-left: 10px;">-</div>
      <div class="col-md-9 col-sm-9 col-xs-9" style="padding: 0px;width: 76%">
      <input  placeholder="Phone Number" type="tel" pattern="[789][0-9]{9}" tabindex="7" required value={{users_json_data.phone_number}} name="phone_number" style="width: 100%;">
      </div>
      </div>
    </fieldset>
    
      <button name="submit" type="submit" id="contact-submit" class="edit">Submit</button>
      <script>

      $(".edit").click(function(event){
        
        var unsorted_url = window.location.pathname.split('machine_id=');
        
        var semisorted_url = unsorted_url[1].split('/user=')
        var machine_id = semisorted_url[0]
       
         
        var userId_url = semisorted_url[1].split('/access_token=');
       

        var userId = userId_url[0]
       

        access_token = userId_url[1]

        
        var url = '/api/gym_users/' + userId + '?' + 'access_token=' + access_token
       

         $('#myForm')
        .ajaxForm({
            method: 'PATCH',
            url : url, // or whatever
            dataType : 'json',
            
            success : function (response) {
                alert("Successfully edited the user.")
                
                var url = '/view_gym_users/machine_id=' + machine_id + '/access_token=' + access_token
                window.location.href = url; //CHANGE THIS TO VIEW USER CARD
            },
            error: function (response) {
              alert("ERROR")
                
            },
            cache: false,
        });
          
        });
      
      </script>
    
</div>
</div>
</div>