<link rel="stylesheet" type="text/css" href="res/css/header.css">

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "220px";
    document.getElementById("main").style.marginLeft = "220px";
    document.getElementById("arrow").style.display = "none";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.getElementById("arrow").style.display = "block";
}
</script> 

<div id="mySidenav" class="sidenav" style="box-shadow: 2px 4px 2px #a9a9a9;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="anchor" href="" id="home"><i class="fa fa-home" aria-hidden="true"></i></i> Home</a>
  <a class="anchor" href="" id="add"><i class="fa fa-plus-circle" aria-hidden="true"></i></i> Add Member</a>
  <a class="anchor" href="" id="delete"> <i class="fa fa-trash" aria-hidden="true"></i></i> Delete Member</a>
  <a class="anchor" href="" id="edit"><i class="fa fa-pencil" aria-hidden="true"></i></i> Edit Member</a>
  <a class="anchor" href="" id="view"><i class="fa fa-book" aria-hidden="true"></i></i> View Members</a>
  <a class="anchor" href="" id="status"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> Machine Status</a>
  <a class="anchor" href="" id="change_auth_password"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a>
  <a class="anchor" href="" id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
  

  <a class="anchor" href="" id="home" style="bottom: 0; margin-top: 50%"><img src="../res/img/DETOX_01.png" style="bottom: 0; width: 70%; margin-top: 10%"></a>
</div>

<script>

    var unsorted_url = window.location.pathname.split('machine_id=');
   
    var semisorted_url = unsorted_url[1].split('/user=')
    var machine_id = semisorted_url[0]
   
     
    var userId_url = semisorted_url[1].split('/access_token=');
   

    var userId = userId_url[0]
    

    access_token = userId_url[1]

    
    var url = '/api/gym_users/' + userId + '?' + 'access_token=' + access_token
   
   $("#logout").click(function logout(){
   
    
    var url = 'api/machines/logout?access_token=' + access_token
   
    $.ajax({
            method: 'POST',
            url : url, // or whatever
            dataType : 'json',
            success : function (response) {
               
                window.location.href = '/login';
            },
            error: function (response) {
                alert("Authentication Timed Out")
                window.location.replace('/');
            },
            cache: false,
        });
    
  });


   $("#status").click(function logout(){
    
    var url = '/bottles/machine_id=' + machine_id + '/access_token=' + access_token
    window.location.href = url;
            
    
  });


   $("#change_auth_password").click(function logout(){
   
    var url = '/change_auth_password?' + access_token
    window.location.href = url;
            
    
  });


    $("#home").click(function logout(){
    
    var url = '/view_gym_users/machine_id=' + machine_id + '/access_token=' + access_token
    window.location.href = url;
            
    
  });




  $("#add").click(function logout(){
   
    var url = '/add_gym_user/machine_id=' + machine_id + '/access_token=' + access_token
    window.location.href = url;
            
    
  });



  $("#delete").click(function logout(){
   
    var url = '/del_gym_user/machine_id=' + machine_id + '/access_token=' + access_token
    window.location.href = url;
            
    
  });



  $("#edit").click(function logout(){
   
    var url = '/edit_gym_user/machine_id=' + machine_id + '/access_token=' + access_token
    window.location.href = url;
            
    
  });


  $("#view").click(function logout(){
   
    var url = '/view_gym_users/machine_id=' + machine_id + '/access_token=' + access_token
    window.location.href = url;
            
    
  

  });
</script>

<!-- Use any element to open the sidenav -->

<a href="" style="text-decoration: none"><span onclick="openNav()"><i class="fa fa-bars" aria-hidden="true" id = "arrow" style="font-size: 40px; color: rgb(111, 178, 220);; display: initial;"></i></span></a>
