<link rel="stylesheet" type="text/css" href="res/css/searchBar.css">
<link rel="stylesheet" type="text/css" href="res/css/del_user/card.css">


<div ng-include src="'Views/machine/header_with_machine_and_user_id.html'" style="padding-top: 20px; padding-left: 20px;"></div>

<!-- <script>alert("HTML")</script> -->
<div ng-controller="view_machine_gym_user_detail_controller">

<script>
  $(window).ready(function(){  
    var access_token = window.location.search.substring(1);var unsorted_url = window.location.pathname.split('machine_id=');
    console.log(unsorted_url + ' unsorted_url')
    var semisorted_url = unsorted_url[1].split('/user=')
    var machine_id = semisorted_url[0]
    console.log('machine_id = ' + machine_id)
     
    var userId_url = semisorted_url[1].split('/access_token=');
   

    var userId = userId_url[0]
    console.log('userId = ' + userId)

    access_token = userId_url[1]

    // var access_token = access_token_url[1]
    console.log('access_token = ' + access_token)
    // alert("WORKING")
    var url = '/api/gym_users/' + userId + '?' + 'access_token=' + access_token
    alert(url)
    alert("=====")
  $.ajax({ url: '/api/machines?' + access_token ,
          context: document.body,
          success: function(response){
             
             document.getElementById("page_view").style.display = "block";
             console.log("SUCCESS " + response)
             
          },
          error: function (response) {
            // document.getElementById("error").style.display = "block";
            // $('#error').delay(4000).fadeOut(300);
            // var resp = response.responseText
            // console.log(resp)
            // console.log(response)
            alert("You are not authenticated to view this page")
            setTimeout(function() { window.location.replace('/machine/login'); }, 0000)
          },
          cache: false,
        });
  });
</script>
<script>alert("DONE")</script>  
  <div id="main">

<!-- my page -->
<div class="row" id="page_view" style="display: none">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
     <div class="categoryWrap" style = "display:flex; align-items:center; flex-direction:column;height:350px">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <h4><span class="label label-warning" style="margin-top: 5% "> &#x20b9; {{users_json_data.cart_value}}</span></h4>
              
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  
              <button class="glyphicon glyphicon-remove" style="margin-top: 25%" align="right"></button>
                </div>
              </div>

<!--               <h4><span class="glyphicon glyphicon-remove" style="margin-top: 5% "></h4>
               --><div style = "display:flex; align-items:center">
                <img src = "res/img/flat-avatar.png" class="catImage text-center" style=" margin-top: 10%;width:80px; height:80px; border-radius: 50px;">
              </div>
              <div class="catContent" style = "align-items:center">
                <h3 class="titleHeading" style = "text-align:center">{{users_json_data.name}}
                </h3>
                <p class = "help-block" style = "text-align:center">{{users_json_data.username}}<br> {{users_json_data.address}}</p>
                <hr>
                <div style="margin-bottom: 10px;">
                  <p style = "text-align:center">{{users_json_data.phone_number}}<br>{{users_json_data.email}}
                  </p>
                
                </div>
                <br/>
              </div>
              <div class="cl">
              </div>
              <br/>
            </div>


  </div>
 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
     <div class="categoryWrap" style = "display:flex; align-items:center; flex-direction:column;height:350px">
         <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <div class="row" align="center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="http://www2.erie.gov/clerk/sites/www2.erie.gov.clerk/files/uploads/pdfs/192917-1Gc8131394258142.png" width="30%" align="center">
             </div>
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form>
              <label style="font-family: sans-serif">Add value</label><br>
              <input type="text" name="money" required placeholder="add ammount" style="margin-top: 5%"><br>
              <input type="submit" class="btn btn-default" name="submit" style="margin-top: 5%">
            </form>
             </div>
           </div>
          
           
           </div>
      
         </div>   
     </div>


  </div>
</div>
</div>