<link rel="stylesheet" type="text/css" href="res/css/register_user/base.css">
<link rel="stylesheet" type="text/css" href="res/css/del_user/card.css">


<div ng-include src="'Views/admin/header_with_id.html'" style="padding-top: 20px; padding-left: 20px;"></div>

<!-- <script>alert("HTML")</script> -->
<div ng-controller="view_machine_bottle_detail_controller">

<script>
  $(window).ready(function(){  
  var unsorted_url = window.location.pathname.split('id=');
  unsorted_url = unsorted_url[1].split('/access_token=');
  var access_token = unsorted_url[1]
  access_token = 'access_token=' + access_token
  alert(access_token)
  var machine_id = unsorted_url[0]

  var url = '/api/machines?' + access_token 
  alert("URL1")
  alert(url)

  $.ajax({ url: url ,
          context: document.body,
          success: function(response){
             
             document.getElementById("page_view").style.display = "block";
             console.log("SUCCESS " + response)
             
          },
          
          error: function (response) {
            // document.getElementById("error").style.display = "block";
            // $('#error').delay(4000).fadeOut(300);
            // var resp = response.responseText
            // console.log(resp)
            // console.log(response)
            alert("You are not authenticated to view this page")
            setTimeout(function() { window.location.replace('/admin'); }, 0000)
          },
          cache: false,
        });
  });
</script>


 
  <div id="page_view" align="center" style="display: none;">

  <div class="container row">
  	<div class="col-md-12" id="contact" style="margin-top: 5%;">
      <form id = "myForm" action="" method="post" target="dummyframe">
        <input type="text" name="name" placeholder="Recipe Name" style="width: 50%; margin-top: 5%">
        <br>
    <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12" id="div1" ng-repeat="user in users_json_data" style="background-color: ; margin-top: 10%;">
      <!-- <a href="/admin/bottles/machine_id={{user.machineId}}/bottle_id={{user.id}}/" onclick = "location.href=this.href + access_token; return false;" class="anchor" style="text-decoration: none; color:#333"> -->

      <div class="col-md-4 categoryWrap" style = "display:flex; align-items:center; flex-direction:column;height:300px">
        <div class="row">
          <div style="height: 80px;">
          <input type="text" name="ingredient_name_{{$index + 1}}" value="{{user.ingredient_name}}" style="display: none;">
          <h3>Flavour: {{user.ingredient_name}}</h3>
          </div>

      <div class="catContent" style = "align-items:center">
        Quantity<br/>
          <input type="number" name="quantity_{{$index + 1}}" value="0" max="999" style="align-items: center;text-align: center;">
          
        <hr>
        <div style="margin-bottom: 10px;">
          <input type="text" name="bottle_name_{{$index + 1}}" value="{{user.bottle_name}}" style="display: none;">
          
          <p style = "text-align:center">Motor Name : {{user.bottle_name}}
          </p>
          
        </div>
        <br/>
        
      </div>
    
      </div>
      <br/>
      <div class="cl">
          </div>
      <div class="cl">
      </div>
      <br/>
    </div>
      <br> 
    </div>
    <button name="submit" type="submit" id="contact-submit" style="margin-top: 5%">Submit</button>
    </form>

     <script>
      
      $(document).ready(function(){
        $("button").click(function (){
           
          var unsorted_url = window.location.pathname.split('machine_id=');
          unsorted_url = unsorted_url[1].split('/access_token=');
          // alert("WORKING")
          console.log(unsorted_url)
          var id = unsorted_url[0]
          var access_token = unsorted_url[1]
          var url =  '/api/machines/' + id + '/prefedRecipes?access_token=' + access_token
          alert(url)

        $('#myForm')
          .ajaxForm({
            method: 'POST',
            url : url,// or whatever
            dataType : 'json',
            success : function (response) {
                // alert(reg_number)
                console.log(response.id)
                // var app = angular.module('my_app', []);
                // app.controller('myCtrl', function($scope, $http) {
                //   $http.get('/api/gym_users/findOne?filter[where][registration_number]=' + reg_number + '&' + access_token)
                //   .then(function(response) {
                //       $scope.myWelcome = response.data;
                //   });0
                // });
                var url = '/admin/view_machines?access_token=' + access_token
                window.location.href = url
            },
            error: function (response) {
                console.log(response)
                alert("Please enter all the details and then click submit")
                // window.location.reload()
                
            },
            cache: false,
        });
          
        });
       }); 
      

      
      </script>
    </div>
  </div>
 </div>