<link rel="stylesheet" type="text/css" href="res/css/searchBar.css">
<link rel="stylesheet" type="text/css" href="res/css/del_user/card.css">


<div ng-include src="'Views/admin/header_with_id.html'" style="padding-top: 20px; padding-left: 20px;"></div>

<!-- <script>alert("HTML")</script> -->
<div ng-controller="view_prefed_recipes_controller">

<script>
  $(window).ready(function(){  
  var unsorted_url = window.location.pathname.split('id=');
  unsorted_url = unsorted_url[1].split('/access_token=');
  var access_token = unsorted_url[1]
  access_token = 'access_token=' + access_token
  var machine_id = unsorted_url[0]

  var url = '/api/machines?' + access_token 


  $.ajax({ url: url ,
          context: document.body,
          success: function(response){
             
             document.getElementById("page_view").style.display = "block";
             console.log("SUCCESS " + response)
             
          },
          
          error: function (response) {
            // document.getElementById("error").style.display = "block";
            // $('#error').delay(4000).fadeOut(300);
            // var resp = response.responseText
            // console.log(resp)
            // console.log(response)
            alert("You are not authenticated to view this page")
            setTimeout(function() { window.location.replace('/admin'); }, 0000)
          },
          cache: false,
        });
  });
</script>


  <div id="main">
    <div class = "container" id = "page_view"  class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="display: none"> 
      <!-- <div class = "search" class="col-md-12" style = "padding:0;"> 
        
          
          <div class="col-md-12">
            <input type="text" class="form-control" id="search" onkeydown="search(this)" placeholder="&#xF002; Search by Name or Registration Number..."/ style="font-family: FontAwesome"> 

          </div>
<script >
    function search(ele) {
    if(event.keyCode == 13) {
        
          var unsorted_url = window.location.pathname.split('id=');
          unsorted_url = unsorted_url[1].split('/access_token=');
          var access_token = unsorted_url[1]
          access_token = 'access_token=' + access_token
          var machine_id = unsorted_url[0]
        
          var url = '/machine/search/search_key=' + ele.value + '/machine_id=' + machine_id +  '/' + access_token
          window.location.href = url

    }
}
</script>
      </div> -->
      




      <!-- <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style= "padding:10px;">
        <div class =  "help-block col-md-6" style="color: #0abb3b; font-weight: bold">You have {{count.count}} Registered Users. :) </div>
      </div> -->

      <div class = "col-xs-12 col-lg-12 col-sm-12 col-md-12" style="padding: 0px;">

        <div style="padding: 20px 0">

          <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="div1" ng-repeat="user in users_json_data" style="background-color: ; padding-top: 20px;"> -->
         <!--  <script>
          
            var unsorted_url = window.location.pathname.split('machine_id=');
            unsorted_url = unsorted_url[1].split('/access_token=');
            // alert("WORKING")
            console.log(unsorted_url)
            var id = unsorted_url[0]
            var access_token = unsorted_url[1]
            var url =  '/api/machines/' + id + '/prefedRecipes?access_token=' + access_token
            alert(url)
            // unsorted_url = unsorted_url[1].split('/access_token=');
            // access_token = unsorted_url[1]
            // 
          </script> -->
          <div class="table-responsive">
            <table class="table table-striped table-hover" style="background-color: antiquewhite;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
            <thead >
              <tr>
                <div class="col-sm-1">
                <th style="text-align: center;">Serial No.</th>
                </div>

                <div class="col-sm-2">
                <th style="text-align: center;">Drink Name</th>
                </div>

                <div class="col-sm-1">
                <th style="text-align: center;">Flavour A</th>
                </div>

                <div class="col-sm-1">
                <th style="text-align: center;">Flavour B</th>
                </div>

                <div class="col-sm-1">
                <th style="text-align: center;">Flavour C</th>
                </div>

                <div class="col-sm-1">
                <th style="text-align: center;">Flavour D</th>
                </div>

                <div class="col-sm-1">
                <th style="text-align: center;">Flavour E</th>
                </div>

                <div class="col-sm-1">
                <th style="text-align: center;">Flavour F</th>
                </div>

                <div class="col-sm-1">
                <th style="text-align: center;">Flavour G</th>
                </div>

                <div class="col-sm-1">
                <th style="text-align: center;">Flavour H</th>
                </div>

              </tr>
            </thead>
            <tbody>
              
              <tr ng-repeat="user in users_json_data" style="text-align: center;">
                <td>{{$index + 1}}.</td>
                <td>{{user.name}}</td>
                <td>{{user.ingredient_name_1}} | {{user.quantity_1}} ml</td>
                <td>{{user.ingredient_name_2}} | {{user.quantity_2}} ml</td>
                <td>{{user.ingredient_name_3}} | {{user.quantity_3}} ml</td>
                <td>{{user.ingredient_name_4}} | {{user.quantity_4}} ml</td>
                <td>{{user.ingredient_name_5}} | {{user.quantity_5}} ml</td>
                <td>{{user.ingredient_name_6}} | {{user.quantity_6}} ml</td>
                <td>{{user.ingredient_name_7}} | {{user.quantity_7}} ml</td>
                <td>{{user.ingredient_name_8}} | {{user.quantity_8}} ml</td>
                
              </tr>
            </tbody>
          </table>
          </div>
          </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>