<link rel="stylesheet" type="text/css" href="res/css/searchBar.css">
<link rel="stylesheet" type="text/css" href="res/css/del_user/card.css">


<div ng-include src="'Views/admin/header.html'" style="padding-top: 20px; padding-left: 20px;"></div>

<!-- <script>alert("HTML")</script> -->
<div ng-controller="view_machine_bottle_detail_controller">

<script>
  $(window).ready(function(){  
  var unsorted_url = window.location.pathname.split('id=');
  unsorted_url = unsorted_url[1].split('/access_token=');
  var access_token = unsorted_url[1]
  access_token = 'access_token=' + access_token
  alert(access_token)
  var machine_id = unsorted_url[0]
  $.ajax({ url: '/api/gym_users?' + access_token ,
          context: document.body,
          success: function(response){
             
             document.getElementById("page_view").style.display = "block";
             console.log("SUCCESS " + response)
             
          },
          
          error: function (response) {
            // document.getElementById("error").style.display = "block";
            // $('#error').delay(4000).fadeOut(300);
            // var resp = response.responseText
            // console.log(resp)
            // console.log(response)
            alert("You are not authenticated to view this page")
            setTimeout(function() { window.location.replace('/'); }, 0000)
          },
          cache: false,
        });
  });
</script>


 
  <div id="page_view" align="center" style="display: none;">

  <div class="container row">
  	<div class="col-md-12">
    <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12" id="div1" ng-repeat="user in users_json_data" style="background-color: ; margin-top: 10%;">
      <a href="/admin/bottles/machine_id={{user.machineId}}/bottle_id={{user.id}}/" onclick = "location.href=this.href + access_token; return false;" class="anchor" style="text-decoration: none; color:#333">

      <div class="col-md-4 categoryWrap" style = "display:flex; align-items:center; flex-direction:column;height:250px">
        <div class="row">
          <h3>{{user.ingredient_name}}</h3>
        
        
        
          <!-- <div class="progress" style="width: 100%;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{user.quantity/10}}" aria-valuemin="000" aria-valuemax="999" style="width:{{user.quantity/10}}%;" style="margin-top: 25%">
              {{user.quantity}} ml 
            </div>
          </div> -->

          
        <!-- <br> -->

      <div class="catContent" style = "align-items:center">
        <h3 class="titleHeading" style = "text-align:center">Cost Per ML : {{user.cost_per_ml}}
        </h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{user.quantity/10}}"
            aria-valuemin="0" aria-valuemax="999" style="width:{{user.quantity/10}}%">
              {{user.quantity}} ml 
            </div>
          </div>
        <hr>
        <div style="margin-bottom: 10px;">
          <p style = "text-align:center">Motor Name : {{user.bottle_name}}
          </p>
        </div>
        <br/>
        <!-- <div class="col-xs-12" style = "align-items:center; text-align:center"><br>
            <a class="btn btn-info btnBg" id="delete" >
              <span>Delete User
              </span> 
            </a>
          </div> -->
        
      </div>
      </div>
      <br/>
      <div class="cl">
          </div>
      <div class="cl">
      </div>
      <br/>
    </div>
      </a>
      <br> 
    </div>
    </div>
  </div>
 </div>